<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="UTF-8" />

        {% block title %}{{ sonata_seo_title() }}{% endblock %}

        {% block metaTags %}{{ sonata_seo_metadatas() }}{% endblock %}

        {{ sonata_seo_link_canonical() }}

        {% stylesheets
            'compiled/css/main.css'
        %}<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />{% endstylesheets %}
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="page_top">
            <div class="header_outer">
                <header class="header">
                    <h1>Symfony Axstrad Edition</h1>

                    <nav>{{ knp_menu_render('main') }}</nav>
                </header>
            </div>

            <main class="body">{% block body %}{% endblock %}</main>

            <div class="footer_placeholder"></div>
        </div>

        <duv class="page_bottom">
            <footer class="footer">
                <p>&copy; 2015 Dan Kempster</p>
            </footer>
        </duv>

        {% block javascripts %}{% endblock %}
    </body>
</html>
